@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;570&display=swap');

$color-lightblue:#6FBFF9;
$color-turquoise:#009379;
$color-red:#FF6250;

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
}

.title {
  font-weight: 570;
}