
.MainPag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #000000;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

.MainPag h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.MainPag p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}